<%= form_with(model: oscillator) do |form| %>
  <% if oscillator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(oscillator.errors.count, "error") %> prohibited this oscillator from being saved:</h2>

      <ul>
        <% oscillator.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :frequency %>
    <%= form.number_field :frequency %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
